#**Lista de Exercicios 3**

#1. Transcreva o algoritmo a seguir para Python:

```python
ALGORITMO TABUADA_9;
VAR
  N, X, R : INTEIRO;
INICIO
  PARA X DE 1 ATE 10 FACA
    INICIO
      R ← 9 * X;
      ESCREVER ( X, ‘ x 9 = ’, R);
    FIM;
  FIM_PARA;
FIM.
```

In [ ]:
#ALGORITMO UM
n = 0
x = 0
r = 0

#inicio
for x in range(1, 11):
  r = 9 * x
  print(x, "x 9 =", r)

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

#2. Faça um programa em Python que mostre todos os números inteiros ímpares situados na faixa de 1000 a 1500.

In [ ]:
#ALGORITMO DOIS
x = 0
n = 0

#inicio
for x in range(1000, 1500):
  if x % 2 != 0:
      print(x)

1001
1003
1005
1007
1009
1011
1013
1015
1017
1019
1021
1023
1025
1027
1029
1031
1033
1035
1037
1039
1041
1043
1045
1047
1049
1051
1053
1055
1057
1059
1061
1063
1065
1067
1069
1071
1073
1075
1077
1079
1081
1083
1085
1087
1089
1091
1093
1095
1097
1099
1101
1103
1105
1107
1109
1111
1113
1115
1117
1119
1121
1123
1125
1127
1129
1131
1133
1135
1137
1139
1141
1143
1145
1147
1149
1151
1153
1155
1157
1159
1161
1163
1165
1167
1169
1171
1173
1175
1177
1179
1181
1183
1185
1187
1189
1191
1193
1195
1197
1199
1201
1203
1205
1207
1209
1211
1213
1215
1217
1219
1221
1223
1225
1227
1229
1231
1233
1235
1237
1239
1241
1243
1245
1247
1249
1251
1253
1255
1257
1259
1261
1263
1265
1267
1269
1271
1273
1275
1277
1279
1281
1283
1285
1287
1289
1291
1293
1295
1297
1299
1301
1303
1305
1307
1309
1311
1313
1315
1317
1319
1321
1323
1325
1327
1329
1331
1333
1335
1337
1339
1341
1343
1345
1347
1349
1351
1353
1355
1357
1359
1361
1363
1365
1367
1369
1371
1373
1375
1377
1379
1381
1383
1385
1387
1389
1391
1393
1395
1397
1399
1401
1403
1405
1407
1409
1411
1413
1415
1417
1419
1421
1423
1425
1427
1429
1431
1433
1435
1437
1439
1441
1443
1445
1447
1449
1451
1453
1455
1457
1459
1461
1463
1465
1467
1469
1471
1473
1475
1477
1479
1481
1483
1485
1487
1489
1491
1493
1495
1497
1499

#3. Elabore um programa em Python que calcule e escreva a soma de 10 números lidos.

In [ ]:
#ALGORITMO TRES
soma = 0.0
n = 0.0


#inicio
for x in range (1, 11):
  n = float(input("Informe o numero:"))
  soma = soma + n

print("A soma dos 10 números é:", soma)

Informe o numero:3
Informe o numero:3
Informe o numero:3
Informe o numero:3
Informe o numero:3
Informe o numero:3
Informe o numero:3
Informe o numero:3
Informe o numero:3
Informe o numero:3
A soma dos 10 números é: 30.0

#4. Faça um programa em Python que leia a nota de 10 alunos de uma turma. Ao final, deve ser escrita a média geral da turma.

In [ ]:
#ALGORITMO QUATRO
n = 0.0
media = 0.0
aluno = 0.0

#inicio
for x in range(1, 11):
  aluno = float(input(f"Digite a nota do {x}º aluno:"))
  n = n + aluno

media = n / 10
print("A média dos 10 alunos é:", round(media, 2))

Digite a nota do 1º aluno:3.5
Digite a nota do 2º aluno:4
Digite a nota do 3º aluno:7
Digite a nota do 4º aluno:4
Digite a nota do 5º aluno:5
Digite a nota do 6º aluno:9
Digite a nota do 7º aluno:6
Digite a nota do 8º aluno:7
Digite a nota do 9º aluno:5.8
Digite a nota do 10º aluno:4
A média dos 10 alunos é: 5.53

#5. Faça um programa em Python que leia 5 números. Para cada número fornecido, escreva se ele é NULO, NEGATIVO ou POSITIVO.

In [ ]:
#ALGORITMO CINCO
n = 0.0

#inicio
for x in range(1, 6):
  n = float(input("Digite um numero:"))
  if n > 0:
    print("NUMERO POSITIVO")
  else:
    if n < 0:
      print("NUMERO NEGATIVO")
    else:
      print("NUMERO NULO")

Digite um numero:6
NUMERO POSITIVO
Digite um numero:-45
NUMERO NEGATIVO
Digite um numero:0
NUMERO NULO
Digite um numero:0
NUMERO NULO
Digite um numero:10
NUMERO POSITIVO

#6. Ler dois valores inteiros e escrever os números em sequência do menor até maior valor.

In [ ]:
#algoritmo seis
n1 = 0
n2 = 0

#inicio
n1 = int(input("Digite o primeiro numero inteiro:"))
n2 = int(input("Digite o segundo numero inteiro:"))

if n1 > n2:
  print("SEQUENCIA DO MENOR AO MAIOR:", n2, ",", n1)
else:
  print("SEQUENCIA DO MENOR AO MAIOR:", n1, ",", n2)

Digite o primeiro numero inteiro:5
Digite o segundo numero inteiro:2
SEQUENCIA DO MENOR AO MAIOR: 2 , 5

#7. Faça um programa em Python que escreva os números pares entre 100 e 200.

In [ ]:
#ALGORITMO SETE
n = 0

#inicio
for x in range(100, 200):
  if x % 2 == 0:
      print(x)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198

#8. Escrever um programa em Python que leia um valor para n, inteiro e positivo, e escreva a tabuada de n. Com os respectivos valores.

  n x 1 =

  n x 2 =

  ...

  n x 10 =

In [ ]:
#algoritmo oito
n = 0
resultado = 0

#inicio
n = int(input("Digite um valor inteiro e positivo:"))
for x in range(1, 11):
  resultado = n * x
  print(n, "x", x, "=", resultado);

Digite um valor inteiro e positivo:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#9. Escrever um programa em Python que gera os números de 1000 a 1999 e escreve aqueles que divididos por 11 dão um resto igual a 5.

In [ ]:
#algoritmo nove

#inicio
for x in range(1000, 2000):
  if x % 11 == 5:
    print(x)

1006
1017
1028
1039
1050
1061
1072
1083
1094
1105
1116
1127
1138
1149
1160
1171
1182
1193
1204
1215
1226
1237
1248
1259
1270
1281
1292
1303
1314
1325
1336
1347
1358
1369
1380
1391
1402
1413
1424
1435
1446
1457
1468
1479
1490
1501
1512
1523
1534
1545
1556
1567
1578
1589
1600
1611
1622
1633
1644
1655
1666
1677
1688
1699
1710
1721
1732
1743
1754
1765
1776
1787
1798
1809
1820
1831
1842
1853
1864
1875
1886
1897
1908
1919
1930
1941
1952
1963
1974
1985
1996

#10. Faça um programa em Python que leia um número qualquer (N), e realize a soma dos números de 1 até N. Ao final, deve-se escrever o resultado.

In [ ]:
#algoritmo dez
n = 0.0
soma = 0

#inicio
n = int(input("Digite um numero:"))
for x in range(1, n + 1):
  soma += x

print(f"O resultado da soma de 1 até {n} é:", soma)

Digite um numero:6
O resultado da soma de 1 até 6 é: 21

#11. Faça um programa em Python para ler 10 valores inteiros. Para cada valor fornecido escreva uma mensagem que indica se cada valor fornecido é PAR ou ÍMPAR.

In [ ]:
#algoritmo onze
n = 0

#inicio
for x in range(1, 11):
  n = int(input("Digite um numero inteiro:"))
  if n % 2 == 0:
    print("NUMERO PAR")
  else:
    print("NUMERO IMPAR")

Digite um numero inteiro:3
NUMERO IMPAR
Digite um numero inteiro:5
NUMERO IMPAR
Digite um numero inteiro:1
NUMERO IMPAR
Digite um numero inteiro:2
NUMERO PAR
Digite um numero inteiro:4
NUMERO PAR
Digite um numero inteiro:6
NUMERO PAR
Digite um numero inteiro:8
NUMERO PAR
Digite um numero inteiro:3
NUMERO IMPAR
Digite um numero inteiro:7
NUMERO IMPAR
Digite um numero inteiro:9
NUMERO IMPAR

#12. Faça um programa em Python que leia a idade de 10 alunos, calcule e escreva a média de idade destes.

In [ ]:
#ALGORITMO DOZE
idade = 0
soma = 0
media = 0.0

#inicio
for x in range (1, 11):
  idade = int(input(f"Digite a idade do {x}º aluno:"))
  soma = soma + idade

media = soma / 10
print("A media de idade dos 10 alunos é:", media)

Digite a idade do 1º aluno:10
Digite a idade do 2º aluno:10
Digite a idade do 3º aluno:10
Digite a idade do 4º aluno:10
Digite a idade do 5º aluno:10
Digite a idade do 6º aluno:10
Digite a idade do 7º aluno:10
Digite a idade do 8º aluno:10
Digite a idade do 9º aluno:10
Digite a idade do 10º aluno:10
A media de idade dos 10 alunos é: 10.0

#13. Faça um algoritmo em Python que leia dois valores inteiros e escreva se eles estão em ordem crescente, decrescente ou são iguais, após isso escreva todos os valores do menor ao maior.

In [ ]:
#algoritmo treze
n1 = 0
n2 = 0

#inicio
n1 = int(input("Digite o primeiro numero inteiro:"))
n2 = int(input("Digite o segundo numero inteiro:"))

if n1 > n2:
  print("ORDEM CRESCENTE")
  print(f"MENOR AO MAIOR: {n2}, {n1}")
else:
  if n2 > n1:
    print("ORDEM DECRESCENTE")
    print(f"MENOR AO MAIOR: {n1}, {n2}")
  else:
    print("IGUAIS")

Digite o primeiro numero inteiro:3
Digite o segundo numero inteiro:8
ORDEM DECRESCENTE
MENOR AO MAIOR: 3, 8

#14. Escrever um programa em Python que lê 10 valores para n, um de cada vez, todos inteiros e positivos, e para cada n lido, escreva a tabuada de 1 até n de n.

      1 x n = n

      2 x n = 2n

      ...

      n x n = n

      2

In [ ]:
#algoritmo quatorze


#inicio
for x in range(1, 10 + 1):
    n = int(input(f"Digite o {x}º número inteiro positivo: "))

    if n > 0:
        print(f"\nA tabuada de 1 até {n} para {n}:")
        for i in range(1, n + 1):
            print(f"{n} x {i} = {n * i}")
    else:
        print("\n Número inválido. Por favor, digite apenas inteiros positivos.\n")

Digite o 1º número inteiro positivo: 1

A tabuada de 1 até 1 para 1:
1 x 1 = 1
Digite o 2º número inteiro positivo: 5

A tabuada de 1 até 5 para 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
Digite o 3º número inteiro positivo: 2

A tabuada de 1 até 2 para 2:
2 x 1 = 2
2 x 2 = 4
Digite o 4º número inteiro positivo: 3

A tabuada de 1 até 3 para 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
Digite o 5º número inteiro positivo: 4

A tabuada de 1 até 4 para 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
Digite o 6º número inteiro positivo: 5

A tabuada de 1 até 5 para 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
Digite o 7º número inteiro positivo: 6

A tabuada de 1 até 6 para 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
Digite o 8º número inteiro positivo: 7

A tabuada de 1 até 7 para 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
Digite o 9º número inteiro positivo: 8

A tabuada de 1 até 8 para 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
Digite o 10º número inteiro positivo: 9

A tabuada de 1 até 9 para 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81